# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Node / Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/dist-ssr/
Frontend/*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project Specific Output
output/
!output/.keep
